<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
</script>
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-app="MyApp" ng-controller="MyCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Krutz Corp. HR</a>
            </div>
        </div>
    </nav>
    <h1 class="page-header">Add New Employee</h1>
    <form class="form-group" name="postForm">
        <div class="form-group">
            <label for="FName">First Name</label>
            <input class="form-control" id="FName" ng-model="postFName" type="text" required>
        </div>
        <div class="form-group">
            <label for="LName">Last Name</label>
            <input class="form-control" id="LName" ng-model="postLName" type="text" required>
        </div>
        <div class="form-group">
            <label for="DOB">DOB</label>
            <input class="form-control" id="DOB" ng-model="postDOB" type="date" required>
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            <input class="form-control" id="Address" ng-model="postAddress" type="text" required>
        </div>
        <div class="form-group">
            <label for="City">City</label>
            <input class="form-control" id="City" ng-model="postCity" type="text" required>
        </div>
        <div class="form-group">
            <label for="State">State</label>
            <input class="form-control" id="State" ng-model="postState" type="text" required>
        </div>
        <div class="form-group">
            <label for="Zip">Zip</label>
            <input class="form-control" id="Zip" ng-model="postZip" type="number" required>
        </div>
        <div class="form-group">
            <label for="Department">Department</label>
            <select class="form-control" id="Department" ng-model="postDepartment">
                <option value="HR">HR
                <option value="Accounting">Accounting
                <option value="Customer Service">Customer Service
                <option value="Inventory">Inventory
                <option value="Sales">Sales
                <option value="Manufacturing">Manufacturing
            </select>
        </div>
        <div class="form-group">
            <label for="Role">Role</label>
            <input class="form-control" id="Role" ng-model="postRole" type="text" required>
        </div>
        <div class="form-group">
            <label for="StartDate">Company Start Date</label>
            <input class="form-control" id="StartDate" ng-model="postStartDate" type="date" required>
        </div>


        <button class="btn btn-success" ng-click="postEmployee(postForm.$valid)">Create Employee</button>
    </form>

</div>
</body>
<script>
    angular.module('MyApp', [])
        .controller('MyCtrl', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {
            $scope.postedEmployee = " ";


            $scope.postEmployee = function (isValid) {
                if (isValid) {
                    $http({
                        url: 'employee',
                        method: "POST",
                        data: {
                            "is_active": true,
                            "fname": $scope.postFName,
                            "lname": $scope.postLName,
                            "birth_date": $filter('date')($scope.postDOB, "yyyy-MM-dd"),
                            "address": $scope.postAddress + ", " + $scope.postCity + ", " + $scope.postState + " " + $scope.postZip,
                            "department": $scope.postDepartment,
                            "role": $scope.postRole,
                            "start_date": $filter('date')($scope.postStartDate, "yyyy-MM-dd")
                        }
                    })
                        .then(function (response) {
                            alert("Employee " + $scope.postFName + " " + $scope.postLName + " added.");
                            $scope.postFName = "";
                            $scope.postLName = "";
                            $scope.postDOB = null;
                            $scope.postAddress = "";
                            $scope.postCity = "";
                            $scope.postState = "";
                            $scope.postZip = null;
                            $scope.postDepartment = "";
                            $scope.postRole = "";
                            $scope.postStartDate = null;
                        });
                }
            }

        }]);
</script>
</html>