<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
</head>
<body>
<div ng-app="MyApp" ng-controller="MyCtrl">
    <h1>DELETE</h1>
    <form>
        <p>ID: <input ng-model="deleteEmployeeId" type="number" required/>
            <button ng-click="deleteEmployee(deleteEmployeeId)">Delete Employee</button>
        </p>
    </form>

    <pre>{{deletedEmployee}}</pre>
    <br/><br/>
</div>
</body>
<script>
    angular.module('MyApp', [])
        .controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.deletedEmployee = " ";



            $scope.deleteEmployee = function (eId) {
                if (eId) {
                    $http.delete("employee?employee_id=" + eId)
                        .then(function (response) {
                            $scope.deletedEmployee = JSON.stringify(response.data,null,3);
                        }, function (response) {
                            alert(response.data.detail)
                        });
                }
            }
        }]);
    </script>
</html>