<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<div ng-app="EditApp" ng-controller="EditCtrl">
    <h1>PATCH</h1>
    <form name="patchForm">
        <p>ID:<input ng-model="patchEmployeeId" type="number" required/></p>
        <p>Active: <input ng-model="patchIsActive" type="checkbox"></p>
        <p>Name: <input ng-model="patchName" type="text"></p>
        <p>DOB: <input ng-model="patchDOB" type="date"></p>
        <p>Address: <input ng-model="patchAddress" type="text"></p>

        <p>Department:
            <select ng-model="patchDepartment">
                <option value="HR">HR
                <option value="Accounting">Accounting
                <option value="Customer Service">Customer Service
                <option value="Inventory">Inventory
                <option value="Sales">Sales
                <option value="Manufacturing">Manufacturing
            </select>
        </p>
        <p>Role: <input ng-model="patchRole" type="text"></p>
        <p>Team Start Date: <input ng-model="patchTeamStartDate" type="date"></p>
        <p>Company Start Date: <input ng-model="patchCompanyStartDate" type="date"></p>
        <button ng-click="patchEmployee()">Update Employee</button>
    </form>

    <pre>{{patchedEmployee}}</pre>
    <br><br>
</div>
</body>
<script>
    angular.module('EditApp', [])
        .controller('EditCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.patchedEmployee = " ";


            $scope.patchEmployee = function () {
                var data = {"employee_id": +$scope.patchEmployeeId};
                if ($scope.patchName) {
                    data["name"] = $scope.patchName;
                }
                if ($scope.patchDOB) {
                    data["birth_date"] = $scope.patchDOB;
                }
                if ($scope.patchAddress) {
                    data["address"] = $scope.patchAddress;
                }
                if ($scope.patchDepartment) {
                    data["department"] = $scope.patchDepartment;
                }
                if ($scope.patchRole) {
                    data["role"] = $scope.patchRole;
                }
                if ($scope.patchTeamStartDate) {
                    data["team_start_date"] = $scope.patchTeamStartDate;
                }
                if ($scope.patchCompanyStartDate) {
                    data["company_start_date"] = $scope.patchCompanyStartDate;
                }
                $http({
                    url: 'employee',
                    method: "PATCH",
                    data: data
                })
                    .then(function (response) {
                        $scope.patchedEmployee =JSON.stringify(response.data,null,3);
                    });
            }

        }]);
    </script>
</html>