<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>View Employees</title>
</head>
<body>
<div ng-app="MyApp" ng-controller="MyCtrl">
    <h1>Krutz Corp. HR</h1>



        <form>
        <p><input ng-model="getEmployeeId" type="number" required placeholder="Employee ID"/>
            <button ng-click="getEmployee(getEmployeeId)">Search</button>
        </p>
    </form>
    <p>{{loading}}</p>

    <table>
        <tr ng-repeat="e in allEmployees track by $index">
            <td colspan="3">
                {{e.name}}
            </td>
            <td>
                <a href="edit/{{e.employee_id}}">Edit</a>
            </td>
            <td>
                <button ng-click="deleteEmployee(e.employee_id)">Delete</button>
            </td>
        </tr>
    </table>
    <br/>

    <form>
        <p>Get Employee with ID <input ng-model="getEmployeeId" type="number" required/>
            <button ng-click="getEmployee(getEmployeeId)">Go</button>
        </p>
    </form>
    <pre>{{singleEmployee}}</pre>
    <br/><br/>
</div>
</body>
<script>
    angular.module('MyApp', [])
        .controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.allEmployees = [];
            $scope.cacheEmployees = [];
            $scope.singleEmployee = " ";
            $scope.loading = "Loading Employees...";



                $http.get("employee")
                    .then(function (response) {
                        $scope.loading = "";
                        $scope.allEmployees = response.data["employee_array"];
//                        $scope.allEmployees = JSON.stringify( response.data,null,3);
                    });

            $scope.getEmployee = function (eId) {
                if (eId) {
                    $http.get("employee?employee_id=" + eId)
                        .then(function (response) {
                            $scope.cacheEmployees= $scope.allEmployees;
                            $scope.allEmployees = response.data["employee_array"];
                        }, function (response) {
                            alert(response.data.detail)
                        });
                } else {
                                   $scope.allEmployees = $scope.cacheEmployees;
                }

            }
            $scope.deleteEmployee = function (eId) {
                if (confirm('Are you sure you want to delete employee #'+eId)) {
                    $http.delete("employee?employee_id=" + eId).then(function (response) {
                            var i = 0;
                            for (i; i<$scope.allEmployees.length;i++) {
                                if ($scope.allEmployees[i].employee_id == eId) {
                                    break;
                                }
                            }
                            $scope.allEmployees.splice(i,1);
                            i = 0;
                            for (i; i<$scope.cacheEmployees.length;i++) {
                                if ($scope.cacheEmployees[i].employee_id == eId) {
                                    break;
                                }
                            }
                            $scope.cacheEmployees.splice(i,1);
                        });
                }
            }


        }]);
    </script>
</html>