<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>View Employees</title>
</head>
<body>
<div ng-app="MyApp" ng-controller="MyCtrl">
    <h1>Krutz Corp. HR</h1>



        <form>
        <p><input ng-model="getEmployeeId" ng-change="getEmployee(getEmployeeId)" type="number" required placeholder="Employee ID"/></p>
    </form>
    <p>{{loading}}</p>

    <table>
        <tr ng-repeat="e in viewEmployees track by $index">
            <td>
                {{e.employee_id}}
            </td>
            <td colspan="3">
                {{e.name}}
            </td>
            <td>
                <a href="edit/{{e.employee_id}}">Edit</a>
            </td>
            <td>
                <button ng-click="deleteEmployee(e.employee_id)">Delete</button>
            </td>
        </tr>
    </table>
    <br/><br/>
</div>
</body>
<script>
    angular.module('MyApp', [])
        .controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.viewEmployees = [];
            $scope.allEmployees = [];
            $scope.singleEmployee = " ";
            $scope.loading = "Loading Employees...";



                $http.get("employee")
                    .then(function (response) {
                        $scope.loading = "";
                        $scope.allEmployees = response.data["employee_array"];
                        $scope.viewEmployees = $scope.allEmployees;
//                        $scope.allEmployees = JSON.stringify( response.data,null,3);
                    });

            $scope.getEmployee = function (eId) {
                if (eId) {
                    $http.get("employee?employee_id=" + eId)
                        .then(function (response) {
                            $scope.viewEmployees = response.data["employee_array"];
                        }, function (response) {
                             $scope.viewEmployees = [];
                        });
                } else {
                                   $scope.viewEmployees = $scope.allEmployees;
                }

            }
            $scope.deleteEmployee = function (eId) {
                if (confirm('Are you sure you want to delete employee #'+eId)) {
                    $http.delete("employee?employee_id=" + eId).then(function (response) {
                            var i = 0;
                            for (i; i<$scope.allEmployees.length;i++) {
                                if ($scope.allEmployees[i].employee_id == eId) {
                                    break;
                                }
                            }
                            $scope.allEmployees.splice(i,1);
                            $scope.viewEmployees = $scope.allEmployees;
                            $scope.getEmployeeId = "";
                        });
                }
            }


        }]);
    </script>
</html>