<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>View Employees</title>
</head>
<body>
<div ng-app="MyApp" ng-controller="MyCtrl">
    <h1>GET</h1>
    <p>Get All Employees:
        <button ng-click="getAllEmployees()">Go</button>
    </p>

    <pre>{{allEmployees}}</pre>
    <br/>

    <form>
        <p>Get Employee with ID <input ng-model="getEmployeeId" type="number" required/>
            <button ng-click="getEmployee(getEmployeeId)">Go</button>
        </p>
    </form>
    <pre>{{singleEmployee}}</pre>
    <br/><br/>
</div>
</body>
<script>
    angular.module('MyApp', [])
        .controller('MyCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.allEmployees = " ";

            $scope.singleEmployee = " ";



            $scope.getAllEmployees = function () {

                $http.get("employee")
                    .then(function (response) {
                        $scope.allEmployees = JSON.stringify( response.data,null,3);
                    });
            }

            $scope.getEmployee = function (eId) {
                if (eId) {
                    $http.get("employee?employee_id=" + eId)
                        .then(function (response) {
                            $scope.singleEmployee = JSON.stringify(response.data,null,3);
                        }, function (response) {
                            alert(response.data.detail)
                        });
                }

            }


        }]);
    </script>
</html>